.square {
  border: solid 1px;
  /* display: inline-block; */
  /* border: solid; */
}

body {
  background-color: #fff9db;
  max-width: 100%;
  /*#ffec99*/
}

h1 {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 700;
}

.buton-c {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  border: none;
}
.container-1 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  /* max-width: 40rem; 25 * 16 square */
  /* margin: 10rem auto auto auto; */
  display: flex;
  justify-content: center;
}

button {
  background-color: #fcc419;
  color: #555;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
}

button:hover,
button:active {
  background-color: #e3b017;
  color: rgba(255, 255, 255, 0.644);
  transition: all 0.3s;
}

input {
  display: flex;
  margin-top: 1rem;
  font-size: 3rem;
}
